<div class="table-wraper">
  <table>
    <tr>
      <th>S. No</th>
      <th>Particulars</th>
      <th>Details of the Establishment</th>
    </tr>
    <tr>
      <td>1</td>
      <td>EPF Code Number</td>
      <td>DSNHP2709259000</td>
    </tr>
    <tr>
      <td>2</td>
      <td>Registered Name of the Establishment</td>
      <td>LOVESUMMER PRIVATE LIMITED</td>
    </tr>
    <tr>
      <td>3</td>
      <td>Date of Coverage under the EPF Act/Scheme</td>
      <td>14-07-2022</td>
    </tr>
    <tr>
      <td>4</td>
      <td>Total Number of Branches</td>
      <td>TWO</td>
    </tr>
    <tr>
      <td>5</td>
      <td>Address of Primary/Head Branch</td>
      <td>D 10/6 OKHLA INDUSTRIAL AREA PHASE 2 NEW DELHI 110020</td>
    </tr>
    <tr>
      <td>6</td>
      <td>Regional EPFO Office Address</td>
      <td>EPFO OFFICE DSIDC SHEAD
DILSHAD GARDEN JHILMIL IND. AREA (NEAR DILSHAD GARDEN METRP STATION)</td>
    </tr>
  </table>
  <h2>Declaration</h2>
  <p>
This information is displayed in compliance with Para 78(3) of the Employees' Provident Funds Scheme, 1952, as directed by the Employees' Provident Fund Organisation vide Circular No. Compliance/U/P78/2022/Advocacy/55643/13178 dated 07.10.2025.
  </p>
</div>

{% schema %}
{
  "name": "custom-table",
  "settings": [],
  "presets": [
    {
      "name": "Custom Table"
    }
  ]
}
{% endschema %}
