<style>
  .image-with-text {
    margin-top: 5rem;
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
</style>

<div class="image-with-text">
  {{ section.id }}
  <div class="image-with-text__image">
    {{ section.settings.image | image_url: width: 250 | image_tag }}
  </div>
  <div class="image-with-text__content">
    <h2>{{ section.settings.title }}</h2>
    <p>{{ section.settings.description }}</p>
  </div>
</div>

{% schema %}
{
  "name": "Image with text",
  "class": "image-with-text-section",
  "settings": [
    {
      "type": "image_picker",
      "id": "image",
      "label": "Image"
    },
    {
      "type": "text",
      "id": "title",
      "label": "Title",
      "default": "Hello world"
    },
    {
      "type": "text",
      "id": "description",
      "label": "Description",
      "default": "Im bosidev"
    }
  ],
  "presets": [
    {
      "name": "Image with text"
    }
  ]
}
{% endschema %}
